<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Twitter</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css" />
  <!-- <script src="script.js" defer ></script> -->
</head>
<style>
  body{
    margin: 0;
    padding: 0;
    --twitter-color: #50b7f5;
  --twitter-background: #fbfdff;
  }
    .explore{
    min-width: 50%;
  margin: 0.2rem 1rem;
  margin-left: 24%;
  margin-right: 30%;
  }

 input#exploresearch{
    padding: 1rem;
    border: 2px solid black;
    border-radius: 26px;
    width: 84%;
  }

  input#exploresearch::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'myFont', Arial, Helvetica, sans-serif;
  font-size: 25px;
}

 .top{
   display: flex;
   align-items: center;
 }

 .people,.peopletweet{
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  font-size: 25px;
  font-weight: 800;
 }

 .peopletweet{
  border-bottom: 5px solid blue;
 }

.people:hover{
border-bottom: 5px solid var(--twitter-color);
transition: 100ms ease-in;
font-size: 24px;
 }

 .usercard{
   display: flex;
   align-items: center;
   padding: 1rem 3rem;
 }

 .usercardname{
   margin-left: 1rem;
   font-weight: 800;


 }


</style>

<body>
 
  <div class="container">
    <div class="sidebar">
      <i class="fab fa-twitter"></i>

      <div class="sidebarOption">
        <span class="new ">
          <span class="material-icons"> home </span><span class="option">  <a href="/home">Home</a></span>
        </span>
      </div>
      <div class="sidebarOption">
        <span class="new active" >
          <span class="material-icons"> tag</span><span class="option">Explore</span>
        </span>
      </div>
      <div class="sidebarOption">
        <span class="new">
          <span class="material-icons"> notifications</span><span class="option">Notifications</span>
        </span>
      </div>
      <div class="sidebarOption">
        <span class="new">
          <span class="material-icons"> mail</span><span class="option">Messages</span>
        </span>
      </div>
      <div class="sidebarOption">
        <span class="new">
          <span class="material-icons"> bookmark</span><span class="option">Bookmarks</span>
        </span>
      </div>
      <div class="sidebarOption">
        <span class="new">
          <span class="material-icons"> fact_check</span><span class="option">Lists</span>
        </span>
      </div>
      <div class="sidebarOption">
        <span class="new">
          <span class="material-icons"> person </span><span class="option">Profile</span>
        </span>
      </div>
      <div class="sidebarOption">
        <span class="new">
          <span class="material-icons"> more_horiz</span><span class="option">More</span>
        </span>
      </div>
      <div class="tweetBtn">Tweet</div>
    </div>
<div class="explore">
  <div class="exploresearchdiv">
    <input type="search" id="exploresearch" name="exploresearch" placeholder="            search">
  </div>
  <div class="top">
    <div class="people"> <a href="/people">People</a></div>
    <div class="peopletweet">Tweets</div>
  </div>
  <div>
    <!-- <div class="usercard">
      <div>
        <a href=""><img src="https://cdn.trendhunterstatic.com/phpthumbnails/458/458145/458145_1_800.jpeg"
            class="user_pfp" /></a>
      </div>
      <div class="usercardname">Irshad Chauhan</div>
    </div> -->
    <div class="content">
      <div>
        <a href=""><img src="https://cdn.trendhunterstatic.com/phpthumbnails/458/458145/458145_1_800.jpeg"
            class="user_pfp" /></a>
      </div>

      <div class="innerContent">

        <div class="username">
          <p><b>Irshad </b> <span id="username">@irshadchauhan</span></p>
        </div>
        <div class="usertweet"> An absolute genius who must be protected at all costs. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Labore laborum et commodi voluptatem maiores facere omnis voluptatum
          doloremque. Vero aperiam aut eaque earum sunt explicabo impedit esse alias repudiandae.</div>
        <div class="usericon">
          <span class="material-icons">
            chat_bubble_outline
          </span>
          <span class="material-icons">
            swap_vert
          </span>
          <span class="material-icons">
            favorite_border
          </span>

        </div>
      </div>
    </div>
  </div>
</div>
    <div class="right-sidebar">
      <input type="search" class="searchtext" placeholder="       Search Twitter" />
      <div class="news">
        <h2>What's Happening</h2>
        <div class="card">
          <a href="https://twitter.com/i/events/1483255084750282753">
            <h4>Ukraine Live News</h4>
          </a>
          <img class="war"
            src="https://c.ndtvimg.com/2022-02/tvpkfh_russia-ukraine-crisis-afp-650_625x300_27_February_22.jpg"
            alt="" />
          <br />
          <p>
            Latest satellite images show deployment of new Russian troops less
            than 50 miles from Ukraine's capital. Russian President Vladimir
            Putin ......
          </p>
        </div>
      </div>
    </div>
    <script src="/js/script.js"></script>
</body>

</html>